In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   --- ------------------------------------ 1.3/16.4 MB 6.1 MB/s eta 0:00:03
   ----- ---------------------------------- 2.4/16.4 MB 7.9 MB/s eta 0:00:02
   ------------- -------------------------- 5.5/16.4 MB 8.6 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/16.4 MB 9.5 MB/s eta 0:00:01
   ----------------------- ---------------- 9.4/16.4 MB 9.8 MB/s eta 0:00:01
   ------------------------------ --------- 12.6/16.4 MB 10.2 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.4 MB 10.0 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 9.7 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 9.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [39]:
import mysql.connector

# Database connection
con = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="emp"
)

cursor = con.cursor()

# Function to check if an employee exists
def check_employee(employee_id):
    sql = 'SELECT * FROM employees WHERE id=%s'
    cursor.execute(sql, (employee_id,))
    cursor.fetchall()  # Clear unread results
    return cursor.rowcount == 1

# Function to add an employee
def add_employee():
    Id = input("Enter Employee Id: ")
    if check_employee(Id):
        print("Employee already exists. Please try again.")
        return

    Name = input("Enter Employee Name: ")
    Post = input("Enter Employee Post: ")
    Salary = input("Enter Employee Salary: ")

    sql = 'INSERT INTO employees (id, name, post, salary) VALUES (%s, %s, %s, %s)'
    data = (Id, Name, Post, Salary)
    try:
        cursor.execute(sql, data)
        con.commit()
        print("Employee Added Successfully")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        con.rollback()

# Function to remove an employee
def remove_employee():
    Id = input("Enter Employee Id: ")
    if not check_employee(Id):
        print("Employee does not exist. Please try again.")
        return

    sql = 'DELETE FROM employees WHERE id=%s'
    try:
        cursor.execute(sql, (Id,))
        con.commit()
        print("Employee Removed Successfully")
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        con.rollback()

# Function to promote an employee
def promote_employee():
    Id = input("Enter Employee's Id: ")
    if not check_employee(Id):
        print("Employee does not exist. Please try again.")
        return

    try:
        Amount = float(input("Enter increase in Salary: "))

        sql_select = 'SELECT salary FROM employees WHERE id=%s'
        cursor.execute(sql_select, (Id,))
        current_salary = cursor.fetchone()[0]
        new_salary = current_salary + Amount

        sql_update = 'UPDATE employees SET salary=%s WHERE id=%s'
        cursor.execute(sql_update, (new_salary, Id))
        con.commit()
        print("Employee Promoted Successfully")

    except (ValueError, mysql.connector.Error) as e:
        print(f"Error: {e}")
        con.rollback()

# Function to display all employees
def display_employees():
    try:
        sql = 'SELECT * FROM employees'
        cursor.execute(sql)
        employees = cursor.fetchall()
        for employee in employees:
            print("Employee Id    : ", employee[0])
            print("Employee Name  : ", employee[1])
            print("Employee Post  : ", employee[2])
            print("Employee Salary: ", employee[3])
            print("------------------------------------")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

# Function to display the menu
def menu():
    while True:
        print("\nWelcome to Employee Management Record")
        print("Press:")
        print("1 to Add Employee")
        print("2 to Remove Employee")
        print("3 to Promote Employee")
        print("4 to Display Employees")
        print("5 to Exit")

        ch = input("Enter your Choice: ")

        if ch == '1':
            add_employee()
        elif ch == '2':
            remove_employee()
        elif ch == '3':
            promote_employee()
        elif ch == '4':
            display_employees()
        elif ch == '5':
            print("Exiting the program. Goodbye!")
            break
        else:
            print("Invalid Choice! Please try again.")

if __name__ == "__main__":
    menu()

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  1
Enter Employee Id:  1
Enter Employee Name:  Mohit Badhani
Enter Employee Post:  Manager
Enter Employee Salary:  75000

Employee Added Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  1
Enter Employee Id:  2
Enter Employee Name:  Rohit Sharma
Enter Employee Post:  Assistant Manager
Enter Employee Salary:  42000

Employee Added Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  1
Enter Employee Id:  3
Enter Employee Name:  Nehal Joshi
Enter Employee Post:  Receptionist
Enter Employee Salary:  36000

Employee Added Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  1
Enter Employee Id:  4
Enter Employee Name:  Mukesh Chauhan
Enter Employee Post:  Electrician
Enter Employee Salary:  24000

Employee Added Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  1
Enter Employee Id:  5
Enter Employee Name:  Pawan Chaudhary
Enter Employee Post:  Accountant
Enter Employee Salary:  58000

Employee Added Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  4

Employee Id    :  1
Employee Name  :  Mohit Badhani
Employee Post  :  75000
Employee Salary:  Manager
------------------------------------
Employee Id    :  2
Employee Name  :  Rohit Sharma
Employee Post  :  42000
Employee Salary:  Assistant Manager
------------------------------------
Employee Id    :  3
Employee Name  :  Nehal Joshi
Employee Post  :  36000
Employee Salary:  Receptionist
------------------------------------
Employee Id    :  4
Employee Name  :  Mukesh Chauhan
Employee Post  :  24000
Employee Salary:  Electrician
------------------------------------
Employee Id    :  5
Employee Name  :  Pawan Chaudhary
Employee Post  :  58000
Employee Salary:  Accountant
------------------------------------

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  2
Enter Employee Id:  5

Employee Removed Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  4

Employee Id    :  1
Employee Name  :  Mohit Badhani
Employee Post  :  75000
Employee Salary:  Manager
------------------------------------
Employee Id    :  2
Employee Name  :  Rohit Sharma
Employee Post  :  42000
Employee Salary:  Assistant Manager
------------------------------------
Employee Id    :  3
Employee Name  :  Nehal Joshi
Employee Post  :  36000
Employee Salary:  Receptionist
------------------------------------
Employee Id    :  4
Employee Name  :  Mukesh Chauhan
Employee Post  :  24000
Employee Salary:  Electrician
------------------------------------

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  3
Enter Employee's Id:  2
Enter increase in Salary:  10000

Employee Promoted Successfully

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  4

Employee Id    :  1
Employee Name  :  Mohit Badhani
Employee Post  :  75000
Employee Salary:  Manager
------------------------------------
Employee Id    :  2
Employee Name  :  Rohit Sharma
Employee Post  :  52000
Employee Salary:  Assistant Manager
------------------------------------
Employee Id    :  3
Employee Name  :  Nehal Joshi
Employee Post  :  36000
Employee Salary:  Receptionist
------------------------------------
Employee Id    :  4
Employee Name  :  Mukesh Chauhan
Employee Post  :  24000
Employee Salary:  Electrician
------------------------------------

Welcome to Employee Management Record
Press:
1 to Add Employee
2 to Remove Employee
3 to Promote Employee
4 to Display Employees
5 to Exit

Enter your Choice:  5

Exiting the program. Goodbye!